body
{
	background-color: black;
}
#game
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 3px solid green;
	width: 600px;
	padding: 10px;
	background-color: white;
	overflow: hidden;
	position: relative;
}
.hints
{
	position: absolute;
	border: 2px solid black;
	width: 30px;
	width: 30px;
	z-index: 8;
}